:root {
    font-size: 13px !important;
}

body {
    background: #edeef0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cms-wrap {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.cms-sidebar {
    background: #333334;
    color: #ccc;
    padding: 20px;
    /*min-width: 20rem;*/
    min-width: 200px;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    
}

.cms-sidebar-content {
    flex-grow: 1;
    padding: 20px 10px;
    margin-top: 20px;
}

.cms-sidebar-content UL {
    list-style: none;
    margin: 0 0px 20px;
    padding: 0;
}

.cms-sidebar-content UL A {
    color: #ececec;
    display: flex;
    padding: 0px 3px; /*3px 3px 3px; */
    margin-bottom: 1px;
    border-radius: 10px;

    align-items: center;
}

.cms-sidebar-content UL A .label {
    display: block;
    flex-grow: 1;
    padding-left: 3px;
}

.cms-sidebar-content UL LI {
    padding: 2px 0;
    position: relative;
   
}

.cms-sidebar-content UL LI A:hover {
    background: rgba(255,255,255,0.05);
    text-decoration: none;
}

.cms-sidebar-content UL LI i {
   
    padding: 3px;
    
    font-size: 1rem;
}

.cms-sidebar-content > .cms-sidebar-menu-sectionlabel {

    font-weight: 500;
    color: #777;
    font-size: 0.9rem;
    text-transform: uppercase;

}


.cms-screenwrap {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.cms-screen {
    max-width: 1200px;
    width: 100%;

}

.cms-screenblock {
    padding: 1.4rem 2rem;
    margin-bottom: 1rem;
}

body .cms-screen .shadow {
    box-shadow: 0 .125rem 0.5rem rgba(0,0,0,.15)!important;
}
 

H1, H2 {
    font-weight: 300;
}

.cms-screenblock table th {
    border-top: 0px solid !important;
}




/** bootstrap overrides **/

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #f7f7f7;
}

.dropleft A.dropdown-toggle.dropdown-toggle-dots::before, 
A.dropdown-toggle.dropdown-toggle-dots::after {
    content: '...';
    transform: rotate(-90deg);
    border: 0;
    font-weight: 900;
    color: #ccc;
}