:root {

    --ascent-logo-white-blue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.67 30.9'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%2300afe8;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M10.54,29.32A7.85,7.85,0,0,1,5.66,30.9a6.42,6.42,0,0,1-3.82-1.11A4.52,4.52,0,0,1,0,26a4.63,4.63,0,0,1,2.11-4,8.29,8.29,0,0,1,4.62-1.14,13.52,13.52,0,0,1,3.18.37v-1A2.94,2.94,0,0,0,9.11,18a4.15,4.15,0,0,0-2.78-.8,9.35,9.35,0,0,0-5,1.47V15a11.4,11.4,0,0,1,5.56-1.34,8.28,8.28,0,0,1,5.29,1.54A5.41,5.41,0,0,1,14,19.62v6.32c0,.91.33,1.54,1.14,1.54a2.18,2.18,0,0,0,.9-.23v3.18a4.9,4.9,0,0,1-2,.4,4.08,4.08,0,0,1-3.38-1.51ZM9.91,23.9a10.65,10.65,0,0,0-2.54-.33c-1.68,0-3.32.53-3.32,2.14,0,1.34,1.17,2,2.61,2a5.83,5.83,0,0,0,3.25-1Z'/%3E%3Cpath class='cls-1' d='M18.52,25.74a13,13,0,0,0,6.39,1.84c1.84,0,3-.53,3-1.77,0-1.64-2.11-1.57-4.62-2.11C20.16,23,18,21.93,18,19c0-3.45,3-5.26,7-5.26A14,14,0,0,1,31.07,15v3.68A13.31,13.31,0,0,0,25,17c-1.74,0-2.88.51-2.88,1.64,0,1.54,2.07,1.51,4.52,2,3.14.67,5.39,1.68,5.39,4.82,0,3.72-3.28,5.43-7.17,5.43a14.83,14.83,0,0,1-6.32-1.37Z'/%3E%3Cpath class='cls-1' d='M48.82,29.66a11,11,0,0,1-5.16,1.24c-5.29,0-9.11-3.62-9.11-8.54,0-5.16,4.16-8.67,9.31-8.67a10.6,10.6,0,0,1,4.69,1.07v4a8.6,8.6,0,0,0-4.62-1.51,5,5,0,0,0-5.29,5.13c0,2.94,2.21,5,5.35,5a7.91,7.91,0,0,0,4.83-1.64Z'/%3E%3Cpath class='cls-1' d='M55.75,23.4c.5,2.74,2.68,4.15,5.46,4.15a9.8,9.8,0,0,0,5.62-1.91v3.72a12,12,0,0,1-6,1.54c-5.29,0-9.17-3.42-9.17-8.57A8.34,8.34,0,0,1,60,13.69c4.09,0,7.7,2.78,7.7,8.07a11.94,11.94,0,0,1-.1,1.64ZM64,20.59A3.86,3.86,0,0,0,60,17a4.24,4.24,0,0,0-4.25,3.62Z'/%3E%3Cpath class='cls-1' d='M71.62,14.06h4v1.77l.06,0a8.14,8.14,0,0,1,5.43-2.18,5.74,5.74,0,0,1,4.35,1.74c1,1,1.4,2.41,1.4,4.86V30.53h-4V21a4.06,4.06,0,0,0-.67-2.81A2.66,2.66,0,0,0,80,17.27a6.25,6.25,0,0,0-4.32,2.08V30.53h-4Z'/%3E%3Cpath class='cls-1' d='M101.55,30.13a7.36,7.36,0,0,1-3.35.77,5.26,5.26,0,0,1-4-1.61c-.84-.9-1.34-2.28-1.34-4.72V17.51H90V14.06h2.88V9.67L96.9,9v5.09h4.65v3.45H96.9V24c0,1.84.33,3.38,2.17,3.38a5.47,5.47,0,0,0,2.48-.7Z'/%3E%3Cpath class='cls-2' d='M115.8,0a11.87,11.87,0,1,0,11.87,11.87A11.87,11.87,0,0,0,115.8,0Zm0,4h0l3.61,8h-7.32Zm-6.15,13.43,1.65-3.79h8.92l1.69,3.79Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --ascent-logo-black-blue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.67 30.9'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23333;%7D.cls-2%7Bfill:%2300afe8;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M10.54,29.32A7.85,7.85,0,0,1,5.66,30.9a6.42,6.42,0,0,1-3.82-1.11A4.52,4.52,0,0,1,0,26a4.63,4.63,0,0,1,2.11-4,8.29,8.29,0,0,1,4.62-1.14,13.52,13.52,0,0,1,3.18.37v-1A2.94,2.94,0,0,0,9.11,18a4.15,4.15,0,0,0-2.78-.8,9.35,9.35,0,0,0-5,1.47V15a11.4,11.4,0,0,1,5.56-1.34,8.28,8.28,0,0,1,5.29,1.54A5.41,5.41,0,0,1,14,19.62v6.32c0,.91.33,1.54,1.14,1.54a2.18,2.18,0,0,0,.9-.23v3.18a4.9,4.9,0,0,1-2,.4,4.08,4.08,0,0,1-3.38-1.51ZM9.91,23.9a10.65,10.65,0,0,0-2.54-.33c-1.68,0-3.32.53-3.32,2.14,0,1.34,1.17,2,2.61,2a5.83,5.83,0,0,0,3.25-1Z'/%3E%3Cpath class='cls-1' d='M18.52,25.74a13,13,0,0,0,6.39,1.84c1.84,0,3-.53,3-1.77,0-1.64-2.11-1.57-4.62-2.11C20.16,23,18,21.93,18,19c0-3.45,3-5.26,7-5.26A14,14,0,0,1,31.07,15v3.68A13.31,13.31,0,0,0,25,17c-1.74,0-2.88.51-2.88,1.64,0,1.54,2.07,1.51,4.52,2,3.14.67,5.39,1.68,5.39,4.82,0,3.72-3.28,5.43-7.17,5.43a14.83,14.83,0,0,1-6.32-1.37Z'/%3E%3Cpath class='cls-1' d='M48.82,29.66a11,11,0,0,1-5.16,1.24c-5.29,0-9.11-3.62-9.11-8.54,0-5.16,4.16-8.67,9.31-8.67a10.6,10.6,0,0,1,4.69,1.07v4a8.6,8.6,0,0,0-4.62-1.51,5,5,0,0,0-5.29,5.13c0,2.94,2.21,5,5.35,5a7.91,7.91,0,0,0,4.83-1.64Z'/%3E%3Cpath class='cls-1' d='M55.75,23.4c.5,2.74,2.68,4.15,5.46,4.15a9.8,9.8,0,0,0,5.62-1.91v3.72a12,12,0,0,1-6,1.54c-5.29,0-9.17-3.42-9.17-8.57A8.34,8.34,0,0,1,60,13.69c4.09,0,7.7,2.78,7.7,8.07a11.94,11.94,0,0,1-.1,1.64ZM64,20.59A3.86,3.86,0,0,0,60,17a4.24,4.24,0,0,0-4.25,3.62Z'/%3E%3Cpath class='cls-1' d='M71.62,14.06h4v1.77l.06,0a8.14,8.14,0,0,1,5.43-2.18,5.74,5.74,0,0,1,4.35,1.74c1,1,1.4,2.41,1.4,4.86V30.53h-4V21a4.06,4.06,0,0,0-.67-2.81A2.66,2.66,0,0,0,80,17.27a6.25,6.25,0,0,0-4.32,2.08V30.53h-4Z'/%3E%3Cpath class='cls-1' d='M101.55,30.13a7.36,7.36,0,0,1-3.35.77,5.26,5.26,0,0,1-4-1.61c-.84-.9-1.34-2.28-1.34-4.72V17.51H90V14.06h2.88V9.67L96.9,9v5.09h4.65v3.45H96.9V24c0,1.84.33,3.38,2.17,3.38a5.47,5.47,0,0,0,2.48-.7Z'/%3E%3Cpath class='cls-2' d='M115.8,0a11.87,11.87,0,1,0,11.87,11.87A11.87,11.87,0,0,0,115.8,0Zm0,4h0l3.61,8h-7.32Zm-6.15,13.43,1.65-3.79h8.92l1.69,3.79Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    --ascent-logo-white: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 127.7 30.9' style='enable-background:new 0 0 127.7 30.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2300AFE8;%7D .st1%7Bfill:%23FFFFFF;%7D .st2%7Bfill:none;stroke:%23000000;stroke-miterlimit:10;%7D .st3%7Bfill:%23333333;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st1' d='M10.5,29.3c-1,0.8-2.7,1.6-4.9,1.6c-1.3,0-2.7-0.3-3.8-1.1C0.7,29,0,27.7,0,26c0-1.8,0.9-3.1,2.1-4 c1.2-0.8,2.9-1.1,4.6-1.1c1.1,0,2.2,0.1,3.2,0.4v-1c0-1-0.3-1.7-0.8-2.2c-0.6-0.5-1.5-0.8-2.8-0.8c-2,0-3.7,0.7-5,1.5V15 c1.3-0.7,3.2-1.3,5.6-1.3c2.1,0,4.1,0.5,5.3,1.5c1.1,0.9,1.7,2.3,1.7,4.4v6.3c0,0.9,0.3,1.5,1.1,1.5c0.3,0,0.6-0.1,0.9-0.2v3.2 c-0.5,0.2-1.2,0.4-2,0.4C12.7,30.8,11.4,30.4,10.5,29.3L10.5,29.3z M9.9,23.9c-0.7-0.2-1.7-0.3-2.5-0.3c-1.7,0-3.3,0.5-3.3,2.1 c0,1.3,1.2,2,2.6,2c1.2,0,2.4-0.4,3.2-1V23.9z'/%3E%3Cpath class='st1' d='M18.5,25.7c2.1,1.3,4.6,1.8,6.4,1.8c1.8,0,3-0.5,3-1.8c0-1.6-2.1-1.6-4.6-2.1C20.2,23,18,21.9,18,18.9 c0-3.4,3-5.3,7-5.3c2,0,4.4,0.4,6.1,1.3v3.7c-2-1.1-4.4-1.7-6.1-1.7c-1.7,0-2.9,0.5-2.9,1.6c0,1.5,2.1,1.5,4.5,2 c3.1,0.7,5.4,1.7,5.4,4.8c0,3.7-3.3,5.4-7.2,5.4c-2,0-4.5-0.4-6.3-1.4V25.7z'/%3E%3Cpath class='st1' d='M48.8,29.7c-1.5,0.8-3.4,1.2-5.2,1.2c-5.3,0-9.1-3.6-9.1-8.5c0-5.2,4.2-8.7,9.3-8.7c1.8,0,3.4,0.4,4.7,1.1v4 c-1.4-0.9-3-1.5-4.6-1.5c-3.2,0-5.3,2.2-5.3,5.1c0,2.9,2.2,5,5.4,5c1.7,0,3.5-0.6,4.8-1.6V29.7z'/%3E%3Cpath class='st1' d='M55.7,23.4c0.5,2.7,2.7,4.2,5.5,4.2c2.1,0,4-0.8,5.6-1.9v3.7c-1.5,1-3.9,1.5-6,1.5c-5.3,0-9.2-3.4-9.2-8.6 c0-5.2,3.9-8.6,8.4-8.6c4.1,0,7.7,2.8,7.7,8.1c0,0.5,0,1.2-0.1,1.6H55.7z M64,20.6c-0.3-2.5-2.1-3.6-4-3.6c-1.9,0-3.8,1.1-4.3,3.6 H64z'/%3E%3Cpath class='st1' d='M71.6,14.1h4v1.8l0.1,0c1.4-1.2,3.2-2.2,5.4-2.2c1.8,0,3.3,0.6,4.4,1.7c1,1,1.4,2.4,1.4,4.9v10.2h-4.1V21 c0-1.5-0.2-2.3-0.7-2.8c-0.5-0.6-1.2-0.9-2.2-0.9c-1.6,0-3.3,0.9-4.3,2.1v11.2h-4.1V14.1z'/%3E%3Cpath class='st1' d='M101.6,30.1c-0.7,0.4-2.1,0.8-3.3,0.8c-1.4,0-3-0.4-4-1.6c-0.8-0.9-1.3-2.3-1.3-4.7v-7.1H90v-3.4h2.9V9.7 L96.9,9v5.1h4.7v3.4h-4.7V24c0,1.8,0.3,3.4,2.2,3.4c0.9,0,1.8-0.3,2.5-0.7V30.1z'/%3E%3C/g%3E%3Cpath class='st1' d='M115.8,0c-6.6,0-11.9,5.3-11.9,11.9c0,6.6,5.3,11.9,11.9,11.9s11.9-5.3,11.9-11.9C127.7,5.3,122.4,0,115.8,0z M115.8,4L115.8,4l3.6,8h-7.3L115.8,4z M109.7,17.4l1.7-3.8h8.9l1.7,3.8H109.7z'/%3E%3C/g%3E%3C/svg%3E%0A");


    --ascent-logo-black: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 127.7 30.9' style='enable-background:new 0 0 127.7 30.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2300AFE8;%7D .st1%7Bfill:%23FFFFFF;%7D .st2%7Bfill:none;stroke:%23000000;stroke-miterlimit:10;%7D .st3%7Bfill:%23333333;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st3' d='M10.5,29.3c-1,0.8-2.7,1.6-4.9,1.6c-1.3,0-2.7-0.3-3.8-1.1C0.7,29,0,27.7,0,26c0-1.8,0.9-3.1,2.1-4 c1.2-0.8,2.9-1.1,4.6-1.1c1.1,0,2.2,0.1,3.2,0.4v-1c0-1-0.3-1.7-0.8-2.2c-0.6-0.5-1.5-0.8-2.8-0.8c-2,0-3.7,0.7-5,1.5V15 c1.3-0.7,3.2-1.3,5.6-1.3c2.1,0,4.1,0.5,5.3,1.5c1.1,0.9,1.7,2.3,1.7,4.4v6.3c0,0.9,0.3,1.5,1.1,1.5c0.3,0,0.6-0.1,0.9-0.2v3.2 c-0.5,0.2-1.2,0.4-2,0.4C12.7,30.8,11.4,30.4,10.5,29.3L10.5,29.3z M9.9,23.9c-0.7-0.2-1.7-0.3-2.5-0.3c-1.7,0-3.3,0.5-3.3,2.1 c0,1.3,1.2,2,2.6,2c1.2,0,2.4-0.4,3.2-1V23.9z'/%3E%3Cpath class='st3' d='M18.5,25.7c2.1,1.3,4.6,1.8,6.4,1.8c1.8,0,3-0.5,3-1.8c0-1.6-2.1-1.6-4.6-2.1C20.2,23,18,21.9,18,18.9 c0-3.4,3-5.3,7-5.3c2,0,4.4,0.4,6.1,1.3v3.7c-2-1.1-4.4-1.7-6.1-1.7c-1.7,0-2.9,0.5-2.9,1.6c0,1.5,2.1,1.5,4.5,2 c3.1,0.7,5.4,1.7,5.4,4.8c0,3.7-3.3,5.4-7.2,5.4c-2,0-4.5-0.4-6.3-1.4V25.7z'/%3E%3Cpath class='st3' d='M48.8,29.7c-1.5,0.8-3.4,1.2-5.2,1.2c-5.3,0-9.1-3.6-9.1-8.5c0-5.2,4.2-8.7,9.3-8.7c1.8,0,3.4,0.4,4.7,1.1v4 c-1.4-0.9-3-1.5-4.6-1.5c-3.2,0-5.3,2.2-5.3,5.1c0,2.9,2.2,5,5.4,5c1.7,0,3.5-0.6,4.8-1.6V29.7z'/%3E%3Cpath class='st3' d='M55.7,23.4c0.5,2.7,2.7,4.2,5.5,4.2c2.1,0,4-0.8,5.6-1.9v3.7c-1.5,1-3.9,1.5-6,1.5c-5.3,0-9.2-3.4-9.2-8.6 c0-5.2,3.9-8.6,8.4-8.6c4.1,0,7.7,2.8,7.7,8.1c0,0.5,0,1.2-0.1,1.6H55.7z M64,20.6c-0.3-2.5-2.1-3.6-4-3.6c-1.9,0-3.8,1.1-4.3,3.6 H64z'/%3E%3Cpath class='st3' d='M71.6,14.1h4v1.8l0.1,0c1.4-1.2,3.2-2.2,5.4-2.2c1.8,0,3.3,0.6,4.4,1.7c1,1,1.4,2.4,1.4,4.9v10.2h-4.1V21 c0-1.5-0.2-2.3-0.7-2.8c-0.5-0.6-1.2-0.9-2.2-0.9c-1.6,0-3.3,0.9-4.3,2.1v11.2h-4.1V14.1z'/%3E%3Cpath class='st3' d='M101.6,30.1c-0.7,0.4-2.1,0.8-3.3,0.8c-1.4,0-3-0.4-4-1.6c-0.8-0.9-1.3-2.3-1.3-4.7v-7.1H90v-3.4h2.9V9.7 L96.9,9v5.1h4.7v3.4h-4.7V24c0,1.8,0.3,3.4,2.2,3.4c0.9,0,1.8-0.3,2.5-0.7V30.1z'/%3E%3C/g%3E%3Cpath class='st3' d='M115.8,0c-6.6,0-11.9,5.3-11.9,11.9c0,6.6,5.3,11.9,11.9,11.9s11.9-5.3,11.9-11.9C127.7,5.3,122.4,0,115.8,0z M115.8,4L115.8,4l3.6,8h-7.3L115.8,4z M109.7,17.4l1.7-3.8h8.9l1.7,3.8H109.7z'/%3E%3C/g%3E%3C/svg%3E%0A");

}

.ascent-logo {
    background-image: var(--ascent-logo-white-blue);
    height: 1.1em;
    width: 4.6em;

    display: inline-block;

    vertical-align: -0.0em;

    background-size: auto 100%;
    background-repeat: no-repeat;
}

.ascent-logo.ascent-logo-black-blue {
    background-image: var(--ascent-logo-black-blue);
}

.ascent-logo.ascent-logo-white {
    background-image: var(--ascent-logo-white);
}

.ascent-logo.ascent-logo-black {
    background-image: var(--ascent-logo-black);
}





.embed-container {
    max-width: 800px;
    position: relative;
    margin: 0px auto;
}

.embed-container:before {
    content: '';
    display: block;

    padding-bottom: 56.25%;
    /* 16/9 ratio */

    height: 0;
    overflow: hidden;
    
    width: 100%;
}

.embed-container.spotify:before {
    padding-bottom: 80px;
}

.embed-container.apple-music:before {
    padding-bottom: 150px;
}

.embed-container IFRAME {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* COOKIE MANAGER */

#acm_wrap {
	
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;

    max-height: 90%;
	z-index: 1000;

    background: rgba(0,0,0,0.9);
	
}

#acm_prompt {
	
	/* max-width: 600px; */
	width: 100%;
	margin: 0px auto;
	
	color: white;
	
	max-height: 700px;
	overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
	
    justify-content: space-between;
}

#acm_summary {
    display: flex;
    align-items: center;
   

    padding: 20px 50px;
    flex-basis: 60%;
    flex-grow: 1;

}

#acm_details {
	display:none;
}


#acm_action {
    padding: 20px 50px;
    flex-basis: 35%;
    flex-grow: 1;
    min-width: 200px;
}

#acm_prompt.acm_formopen #acm_details {
	display: block;
}

#acm_prompt.acm_formopen #acm_choose {
	display: none;
}

.acm_cookietype {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	text-align: left;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.acm_cookietype * {
	cursor: pointer;
}


.acm_cookietype.acm_selected {
	background-color: #b6cc43;
}

.acm_cookietype.acm_mandatory {
	background-color: rgba(241, 133, 0, 0.9);
}
	
.acm_cookietype.acm_selected, .acm_cookietype.acm_mandatory {

	background-image: url('/ascentcore/cookiemgr/cookiemgr-selected.png');
}


.acm_cookietype H3 {
	margin-bottom: 0;
}

.acm_cookietype P {
	margin: 0;
}



.acm_status_badge {
    width: 100px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    background: #333;
    color: white;
    margin-left: 20px;
    border-radius: 5px;

    text-align: center;

}

.acm_status_badge:after {
    content: 'disabled';
}


.acm_selected .acm_status_badge:after {
    content: "enabled";
}

.acm_mandatory .acm_status_badge:after {
    content: "mandatory";
}

.acm_ct_title {
    flex-grow: 1;
    font-weight: 700;
}

.acm_ct_desc {
    flex-basis: 100%;
    font-size: 0.8rem;
}



.flex{
    display: flex;
    /* gap: 5%; */
    flex-wrap: wrap;
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-align-top, .flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}