.ig-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.ig-grid-item {
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
}
