.cms-blockselect {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.cms-blockselect-option {

    flex: 0 0 100%;
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 2%;
    border-radius: 5px;
    background: white;
    text-align: center;
    cursor: pointer;

}

.cms-blockselect-columns-2 .cms-blockselect-option {
    flex: 0 0 49%;
}

.cms-blockselect-columns-3 .cms-blockselect-option {
    flex: 0 0 32%;
}

.cms-blockselect-columns-4 .cms-blockselect-option {
    flex: 0 0 24%;
}

.cms-blockselect-columns-5 .cms-blockselect-option {
    flex: 0 0 19%;
}

.cms-blockselect-option:last-child {
    margin-bottom: 0;
}

.cms-blockselect-option INPUT {
    display: none;
}


.cms-blockselect-option:hover {
    border: 2px solid var(--primary);  
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
}

.cms-blockselect-option.selected {
    background: var(--primary); 
    color: white;
    font-weight: 700;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
}