/* .stack-edit {

} */


.block-edit {
    padding: 20px; 
    background-color: #f7f7f7;
    border-radius: 5px; 
    margin-bottom: 10px;
    overflow: hidden;

    display: flex;
}

.block-edit .block-handle {
    min-width: 30px;
    background: #ccc;
    flex: 0 0;
    margin: -20px 20px -20px -20px ;
} 

.block-edit .block-content {
    flex-basis: 100%;

    display: flex;

}

.block-edit .block-settings {
    
    width: 50px;
    flex: 0 0;
}

.ui-sortable-helper {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
}


.blockitem {
    /* padding: 5px; */
}

.blockitem .blockitem-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
}

.blockitem .blockitem-handle {
    padding: 3px 10px;
    background: #ccc;
}



